<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Weathermap API</title>
</head>
<body>

    <form action="/meteo" method="post">
        <input type="text" name="ville" placeholder="entre ta ville">
        <button type="submit">renvoyer la ville</button>
    </form>
    <!-- <h1></h1>
    <h2></h2>
    <ul>
        <li class="desc"></li>
        <li class="temp"></li>
    </ul>
     -->
    <footer>weathermap api <span></span></footer>
</body>
</html>