<!DOCTYPE html>
<html lang="en">
    <%- include('head') -%>
    <body>
        <%- include('navbar') -%>
            
        
        <div class="form text-center mt-3 display-4" >
            <form action="/meteo" method="post">
                <input class="input" type="text" name="ville" placeholder="entre ta ville">
                <button class="btn btn-info" type="submit">renvoyer la ville</button>
            </form>
        </div>
            
    <!-- <h1></h1>
    <h2></h2>
    <ul>
        <li class="desc"></li>
        <li class="temp"></li>
    </ul>
     -->
    <footer class="bottom-fixed">weathermap api <span></span></footer>
</body>
</html>