<!DOCTYPE html>
<html lang="en">
    <%- include('head') -%>
    <body>
        <%- include('navbar') -%>
            
        
        <div class="form text-center mt-3 display-4" >
            <form action="/meteo" method="post">
                <input class="input" type="text" name="ville" placeholder="entre ta ville">
                <button class="btn btn-info" type="submit">renvoyer la ville</button>
            </form>
        </div>
            
        <%- include('footer') -%>
</body>
</html>